name: TubesZB MGM24 HW Max Zigbee
device: MGM240PA32VNN
base_project: src/zigbee_ncp
sdk: "gecko_sdk:4.4.4"
toolchain: "12.2.1.20221205"

gbl:
  fw_type: zigbee_ncp
  ezsp_version: dynamic
  baudrate: 115200

add_components:
- id: zigbee_mfglib
- id: zigbee_token_interface

slcp_defines:
  EMBER_APS_DUPLICATE_REJECTION_MAX_ENTRIES: 255

configuration:
  EMBER_CHILD_TABLE_SIZE: 64
  SL_RAIL_UTIL_PTI_MODE: RAIL_PTI_MODE_DISABLED # enabled in original fws
  

c_defines:
  EMBER_ADDRESS_TABLE_SIZE: 200
  EMBER_APS_UNICAST_MESSAGE_COUNT: 255
  EMBER_BINDING_TABLE_SIZE: 32
  EMBER_BROADCAST_TABLE_SIZE: 64
  EMBER_KEY_TABLE_SIZE: 12
  EMBER_MAX_END_DEVICE_CHILDREN: 64
  EMBER_NEIGHBOR_TABLE_SIZE: 26
  EMBER_PACKET_BUFFER_COUNT: 255
  EMBER_ROUTE_TABLE_SIZE: 254 
  EMBER_SOURCE_ROUTE_TABLE_SIZE: 254
  
  SL_IOSTREAM_USART_VCOM_BAUDRATE: 115200
  SL_IOSTREAM_USART_VCOM_FLOW_CONTROL_TYPE: usartHwFlowControlCtsAndRts
  SL_IOSTREAM_USART_VCOM_RX_BUFFER_SIZE: 128

  SL_IOSTREAM_USART_VCOM_PERIPHERAL: USART0
  SL_IOSTREAM_USART_VCOM_PERIPHERAL_NO: 0

  SL_IOSTREAM_USART_VCOM_TX_PORT: gpioPortA
  SL_IOSTREAM_USART_VCOM_TX_PIN:  6

  SL_IOSTREAM_USART_VCOM_RX_PORT: gpioPortA
  SL_IOSTREAM_USART_VCOM_RX_PIN:  5

  SL_IOSTREAM_USART_VCOM_CTS_PORT: gpioPortA
  SL_IOSTREAM_USART_VCOM_CTS_PIN:  7

  SL_IOSTREAM_USART_VCOM_RTS_PORT: gpioPortA
  SL_IOSTREAM_USART_VCOM_RTS_PIN:  8

  SL_ZIGBEE_APS_DUPLICATE_REJECTION_MAX_ENTRIES: 255
